@import "../../../../global.scss";
.mainCovidCard{
    background-color: #eaece7;
    height: 160px;
    
    .covidCard{
        box-shadow: $dimBoxShadow;
        height: 130px;
        width: 90%;
        margin: auto;
        border-radius: 16px;
        background-color: #fff;
        @include flex($direction: column, $justify: space-evenly, $align: initial);
        .covidHeading{
            p{
                margin-left: 30px;
                color: $mainLightColor;
                font-weight: 600;
            }
        }
    }
    .covidContainer{
        @include flex($justify: space-evenly);
        
        
    }

}
