@import "../../../global.scss";

.bodyContainer{
    height: 60vh;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    .leftBody{
        .midBody{
            .box{
                width: 90%;
                height: 60px;
                @include flex;
            }
        }
    }

    .docImg{
        .imgLink{
            
            img{
                border: 1px solid red;
                color: #19526c;
            }
        }
    }
}