.mainFooter {
  height: 1150px;
  // border: 1px solid green;
  background-color: #020d11;
  border: 1px solid black;
  .footerLogo {
    width: 100%;

    // border: 1px solid red;
    .footerLogoLink {
      img {
        height: 80px;
        margin: auto;
        margin-top: 30px;
      }
    }
  }
  .footerText {
    div {
      ul {
        display: flex;
        justify-content: space-evenly;
        color: white;
        line-height: 30px;
        
      }
      
      h4 {
        color: rgb(255, 187, 0);
        font-weight: 600;
        margin: 0 40px 10px;
      }
    }
  }
}
