.navbar{
    display: flex;
    justify-content: space-between;
    .right{
        display: flex;
        .links{
            .line{
                height: 1px;
                background-color: #000000;
            }
        }

    }

    
}